.navbar {
    background-color: hsl(208.8deg 67.57% 7.25%) !important;
}

.wrap {
    background-color: hsl(209.03deg 34.83% 17.45%) !important;
}

.card {
    background-color: rgb(17 32 48) !important;
}
